html{
  box-sizing: border-box;
}
*:before,*:after{
  box-sizing: inherit;
  margin: 0;
  padding:0;
}

body{
  font-family: 'Tenor Sans', sans-serif;
  font-size: 1rem;
  background-color:#0C0E3D;
  color: white;
  margin: 0;
}

h1{
  font-family: 'Dancing Script', cursive;
}
  p {
    font-size: 1rem;
    font-family: 'Arsenal', sans-serif;
      
  }
  
.header {
  background-color:white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100px;
  width: 100%;
}
.logo {
  display: flex;
}
.logo img {
  width: 100%;
}

.nav {
  transition: all .3s ease-in-out;
}

.nav ul {
  display: flex;
}
  .nav a{
    background-color: white;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 1rem;
    text-decoration: none;
  }

  .nav{
    position: fixed;
    top: 100%;
    background-color: white;
    width: 100%;
    left: 0;
    transform: translateX(-100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

   }
   .nav ul{
    flex-direction: column;
    align-items: center;
   }
   .nav a{
    font-size: 1.5rem;
   }
  
.container{
  background-color:#0C0E3D;
  width: 400px; height:200px; margin:0 auto;
}

  .bars{
      background-color:#0C0E3D;
      width: 26px;
      height: 3px;
      margin:5px 0;
      transition: all .3s ease-in-out;
   }

   .hamburgerMenu{
    display: block;
   }

  /* JavaScript */
  .nav--toggle {
    left: 50% !important;
  }

  .hamburgerMenu--toggle .bars:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }

  .hamburgerMenu--toggle .bars:nth-child(2) {
    opacity: 0;
  }
  .hamburgerMenu--toggle .bars:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

/*buttons*/
button {
font-family: 'Tenor Sans', sans-serif;
font-size: 1rem;
  text-transform: uppercase;
  padding: 1rem;
  border-radius: 4.875rem;
  display: flex;
  border: white;
}

.reservationActions{
  position: relative;
  align-items: center;
  bottom: 0%;
}

.topbuttons {
display: block;
  width: 95%;
  padding:12px;
  cursor: pointer;
  background-color: #0C0E3D ;
  color: white;
  position: absolute;
  top:66%;
  border: solid 1px white;
}
.topbuttons:hover{
background-color: #1C75BC; 
}
.bottombuttons {
  display: block;
  width: 95%;
  padding:12px;
  cursor: pointer;
  background-color: #0C0E3D ;
  color: white;
  position: absolute;
  top:82%;
  border: solid 1px white;
  }
  .bottombuttons:hover{
    background-color: #1C75BC; 
    }

  .submit {
    background-color: white;
    color:  #0C0E3D;
    display: flex;
    flex: row;
    }
    .submit:hover{
      background-color: #1C75BC; 
      }




.footer{
  background-color:#0C0E3D;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Arsenal', sans-serif;
  color: white;
  font-size: 1rem;
}