html{
  box-sizing: border-box;
}
*:before,*:after{
  box-sizing: inherit;
  margin: 0;
  padding:0;
}

body{
  font-family: 'Tenor Sans', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  background-color:#0C0E3D;
  color: white;
  margin: 0;


}

h1{
font-family: 'Dancing Script';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;
color: #FFFFFF;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
  
}
  p {
font-size: 1rem;
font-family: 'Arsenal', sans-serif;

left: 20px;
top: 647px;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
}
      
  
  
.header {
  background-color:white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100px;
  width: 100%;
}
.logo {
  display: flex;
 
}
.logo img {
  width: 100%;
justify-content: left;
}

  .nav {
    transition: all .3s ease-in-out;
    position: fixed;
    top: 100%;
    background-color: white;
    width: 100%;
    left: 0;
    transform: translateX(-100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    

   }
   .nav ul {
    flex-direction: column;
    display: flex;
    align-items: center;
   }

.container{
  background-color:#0C0E3D;
  width: 400px; height:200px; margin:0 auto;
}

  .bars{
      background-color:#0C0E3D;
      width: 26px;
      height: 3px;
      margin:5px 0;
      transition: all .3s ease-in-out;
   }

   .hamburgerMenu{
    display: block;
   }
  

  /* JavaScript */
  .nav--toggle {
    left: 50% !important;
  }

  .hamburgerMenu--toggle .bars:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }

  .hamburgerMenu--toggle .bars:nth-child(2) {
    opacity: 0;
  }
  .hamburgerMenu--toggle .bars:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

/*buttons*/
button {
font-family: 'Tenor Sans', sans-serif;
font-size: 1rem;
  text-transform: uppercase;
  padding: 1rem;
  border-radius: 4.875rem;
  display: flex;
  border: white;
  width: 278px;
height: 44px;
left: 56px;
top: 468px;
}

.reservationActions{
  position: relative;
  align-items: center;
  bottom: 0%;
}

.topbuttons {
display: block;
  padding:12px;
  cursor: pointer;
  background-color: #0C0E3D ;
  color: white;
  position: absolute;
  top:66%;
  border: solid 1px white;
  
}
.topbuttons:hover{
background-color: #1C75BC; 
}
.bottombuttons {
  display: block;
  position: absolute;

  padding:12px;
  cursor: pointer;
  background-color: #0C0E3D ;
  color: white;
  position: absolute;
  top:82%;
  border: solid 1px white;
  }
  .bottombuttons:hover{
    background-color: #1C75BC; 
    }

  .submit {
background-color: white;
display: flex;
flex-direction: row;
width: 102px;
height: 44px;
left: 264px;
top: 1270px;
font-family: 'Tenor Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
justify-content: center;
text-transform: uppercase;
color: #0C0E3D;


    }
    .submit:hover{
      background-color: #1C75BC; 
      }

.book {
background-color: white;
display: flex;
flex-direction: row;
font-family: 'Tenor Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
justify-content: center;
cursor: pointer;
position: absolute;

}     

/*forms*/
input[type=text], input[type=hidden] select[type=select]{
  padding: 1rem;
  margin:0%;
  border-radius: 8px;
  background-color: white;
  color: #0C0E3D;
  border: none;
}
input {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid white;
  background-color: #0C0E3D;
  width: 221px;
  padding-left: 10px;
  }

  /*iframe*/
  iframe:focus {
    outline:hsl(from grey h s l)
    
  }
  iframe[seamless] {
    display: block;
  }

footer{
align-items: center;
left: calc(50% - 358px/2);
top: 1352px;
font-family: 'Arsenal';
font-style: normal;
font-weight: 400;
font-size: 16px;
text-align: center;
background-color:#0C0E3D;
color: #FFFFFF;
padding-top: 10px;
padding-bottom: 10px;
}

p {
  margin: 0;
}
  /*gallery*/
.row {
  padding: 15px;
}








