html{
  box-sizing: border-box;

}
*:before,*:after{
  box-sizing: inherit;
  margin: 0;
  padding:0;
}

body{
  font-family: 'Tenor Sans', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  background-color:#0C0E3D;
  color: white;
  margin: 0;
 

}


h1{
font-family: 'Dancing Script';
font-weight: 400;
font-size: 40px;
line-height: 48px;
color: #FFFFFF;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 20px;
  
}

p {
font-size: 1rem;
font-family: 'Arsenal', sans-serif;
left: 20px;
top: 647px;
font-style: normal;
font-weight: 400;
line-height: 19px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 5%;

}
.gallery{
  text-align: center;
  font-family: 'Tenor Sans', sans-serif;
  padding-bottom: 10%;

}
.groups{
  font-family: 'Arsenal', sans-serif;
  font-size: 14px;
}


  
.header {
  background-color:white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 10%;;
  min-height: 100px;
  width: 100%;
}



.container{
  background-color:#0C0E3D;
  width: 400px; height:200px; margin:0 auto;
}
 

.logo img {
  width: 100%;
  display: flex;
  column-gap: 10px;
  align-items: left;
}
.nav{
  transition: all .3s ease-in-out;
}

.nav ul {
  display: flex;
  list-style: none;
  column-gap: 48px;
 }

 .bars{
  background-color:#0C0E3D;
  width: 26px;
  height: 3px;
  margin:5px 0;
  transition: all .3s ease-in-out;
}

.hamburgerMenu{
  display: none;
}


  /* JavaScript */
  .nav--toggle {
    left: 50% !important;
  }

  .hamburgerMenu--toggle .bars:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }

  .hamburgerMenu--toggle .bars:nth-child(2) {
    opacity: 0;
  }
  .hamburgerMenu--toggle .bars:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }


  /* Media Query */
    @media (max-width: 468px) {
      .header{
      flex-direction: row;
      justify-content: space-around;
      height: 100%;
      padding: 0%;
      

  }
  .nav {
    position: fixed;
    top: 100%;
    background-color: white;
    width: 100%;
    left: -100%;
    transform: translateX(-50%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    line-height: 4rem;
    
  }
}
.nav ul{
  flex-direction: column;
  align-items: center;
}

.hamburgerMenu{
  display: block;
 }

 

  /*images*/
  .header img{
    max-width: 100%;

}





/*buttons*/

button {
font-family: 'Tenor Sans', sans-serif;
font-size: 1rem;
  text-transform: uppercase;
  padding: 1rem;
  border-radius: 4.875rem;
  display: flex;
  border: white;
  width: 278px;
height: 44px;
left: 56px;
top: 468px;
justify-content: center;
display: flex;

}
.button:hover{
  background-color: #1C75BC; 
  }

.reservationActions{
  position: relative;
  align-items: center;
  bottom: 0%;
}

.topbuttons {
display: block;
  padding:12px;
  cursor: pointer;
  background-color: #0C0E3D ;
  color: white;
  position: absolute;
  top:66%;
  border: solid 1px white;
  
}
.topbuttons:hover{
background-color: #1C75BC; 
}
.bottombuttons {
  display: block;
  position: absolute;

  padding:12px;
  cursor: pointer;
  background-color: #0C0E3D ;
  color: white;
  position: absolute;
  top:82%;
  border: solid 1px white;
  }
  .bottombuttons:hover{
    background-color: #1C75BC; 
    }

  .submit {
background-color: white;
display: flex;
width: 102px;
height: 44px;
font-family: 'Tenor Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
justify-content: center;
color: #0C0E3D;
border-radius: 4.875rem;


    }
    .submit:hover{
      background-color: #1C75BC; 
      }
    

/*forms*/

input[type=party], [type=date], 
select[type=time]{
  display: flex;
  margin:0%;
  width: 90%;
  border-radius: 8px;
  background-color: white;
  color: #0C0E3D;
  border: none;
}

input {
  width: 90%;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  border-radius: 8px;
  border: none;
  font-family: 'Arsenal', sans-serif;
  font-size: 16px;
  }
  textarea{
    padding: 1rem;
    height: 150px;
    width: 90%;
    border-radius: 8px;
    font-family: 'Arsenal', sans-serif;
    font-size: 16px;
    border: none;
  }

  input[type=email]{
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid white;
  background-color: #0C0E3D;
  padding-left: 1rem;
  font-family: 'Arsenal', sans-serif;
  font-size: 16px;
  }


.column {
  gap: 12px;
}

a {
  color: white;
}
a:hover {
  color: #1C75BC ;
}

  /*iframe*/
  iframe:focus {
    outline:hsl(from grey h s l);
  
    
  }
  iframe[seamless] {
    display: block;
  }

footer{
left: calc(50% - 358px/2);
top: 1352px;
font-family: 'Arsenal';
font-weight: 400;
font-size: 16px;
text-align: center;
background-color:#0C0E3D;
color: #FFFFFF;
padding-bottom: 20px;
}

p {
  margin: 0;
}

  /*gallery*/
  .row1 .column{
    display:inline-block;
    vertical-align: middle;
    float: none;
  margin-left: 5%;
  
  }


  /*menu*/
  .menu-header{
    text-align: center;
  }
.row-choice{
  display:flex;
}


  .menu-item{
  padding-left: 5%;
  font-size: 18px;
  }

.menu-group-heading{
  padding: 1rem;
  margin:0%;
  padding-bottom: 1em;
  font-size: 24px;
  text-align: center;
 

}

.menu-item-description{
  font-size: 16px;
  font-family:'Arsenal', sans-serif;
  display: flex;
  padding-left: 0%;
}





  /*Group Reservations*/

  .quote{
font-family:'Arsenal', sans-serif;
font-style: italic;
font-size: 16px;
padding-left: 5%;
  }
  .reviewer{
  text-align: center;
  font-size: 16px;
  font-family: 'Tenor Sans', sans-serif;

  }
ul {
  font-size: 14px;
  font-family:'Arsenal', sans-serif;
  
}


